[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
   width: 100%;
   margin-top: rem(7);
   color: #cc354e;
   span {
      display: flex;
      align-items: center;
      gap: rem(5);
      justify-content: center;
      img {
         height: rem(10);
         width: rem(10);
      }
      ._showmore-active & {
         display: none;
      }
   }
}
