.currency-wrap {
    background: rgba(255,255,255, 0.08);
    backdrop-filter: blur(5.5px);
}

.currency {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 17px 0;
    overflow: hidden;

    &__list {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__item {
        width: 175px;
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0 20px;
        flex-shrink: 0;

        &:last-child {
            border: none;
        }
    }

    &__ico {
        margin-right: 10px;
    }

    &__desc {
        // overflow: hidden;
    }

    &__title {
        color: #fff;
        margin-bottom: 3px;
        display: block;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__value {
        font-size: 18px;
        color: #FCD535;
        display: block;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}