.currency {
    padding: 17px 0;
    background: rgba(255,255,255, 0.08);
    backdrop-filter: blur(5.5px);
    margin: -32px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0 20px;
        flex-shrink: 0;

        &:last-child {
            border: none;
        }
    }

    &__ico {
        margin-right: 10px;
    }

    &__title {
        color: #fff;
        margin-bottom: 3px;
    }

    &__value {
        font-size: 18px;
        color: #FCD535;
    }
}