// Заголовки, общие БЄМ блоки и проче...
.title {
   font-weight: bold;
   @include adaptiveValue("font-size", 40, 20);
   line-height: math.div(54, 40);
   color: #ffffff;
   background: #FCD535;
   -webkit-box-decoration-break: clone;
   background: -webkit-linear-gradient(91.09deg, #FCD535 0.26%, #FFFFFF 83.7%);
   background: -moz-linear-gradient(91.09deg, #FCD535 0.26%, #FFFFFF 83.7%);
   background: linear-gradient(91.09deg, #FCD535 0.26%, #FFFFFF 83.7%);
   -webkit-background-clip: text;

   @media (max-width: $mobile) {
      @include adaptiveValue("font-size", 25, 20);
      max-width: 690px;
      margin: 0 auto;
   }

   span {
      -webkit-background-clip: text;
      text-shadow: 0px 0px #00000000;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
   }
}

.decor {
   z-index: -1;
   pointer-events: none;
   position: absolute;
}

.button {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: rem(46);
   color: #ffffff;
   min-width: rem(160);
   border-radius: 900px;
   transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

   @media (max-width: $mobileSmall) {
      height: rem(37);
      width: 100%;
      min-width: 100%;
   }

   &_primary {
      background: linear-gradient(154.26deg, #FCD535 16.27%, rgba(252, 213, 53, 0) 154.75%);
      @media (any-hover: hover) {
         &:hover {
            box-shadow: 0 0 5px #FCD535;
         }
      }
   }

   &_secondary {
      background: #080b0e;
      border: 1px solid #FCD535;;
      @media (any-hover: hover) {
         &:hover {
            box-shadow: 0 0 5px #FCD535;
         }
      }
   }

   // .button_shadow
   &_shadow {
      height: rem(55);
      font-size: rem(18);
      background: #080b0e;
      border: 1px solid #FCD535;
      box-shadow: 5px 5px 55px rgba(247, 185, 62, 0.6);
      border-radius: 900px;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

      @media (any-hover: hover) {
         &:hover {
            box-shadow: 5px 5px 20px rgba(247, 185, 62, 0.6);
            background: linear-gradient(154.26deg, #FCD535 16.27%, rgba(252, 213, 53, 0) 154.75%);
         }
      }
   }

   &_shadow-primary {
      height: rem(55);
      font-size: rem(18);
      align-items: center;
      justify-content: center;
      background: linear-gradient(154.26deg, #FCD535 16.27%, rgba(252, 213, 53, 0) 154.75%);
      box-shadow: 5px 5px 55px rgba(247, 185, 62, 0.6);
      border-radius: 900px;
      @media (max-width: $tablet) {
         height: rem(41);
      }
      @media (any-hover: hover) {
         &:hover {
            box-shadow: 5px 5px 20px rgba(247, 185, 62, 0.6);
         }
      }
   }
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: rem(8);

   .swiper-pagination-bullet {
      border: 1px solid #298be7;
      width: rem(10);
      cursor: pointer;
      height: rem(10);
      border-radius: 50%;
      background-color: transparent;
      flex: 0 0 rem(10);
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

      &.swiper-pagination-bullet-active {
         background-color: #298be7;
      }
   }
}