//====================================================================================================
.footer {
   // .footer__top
   &__top {
      @include adaptiveValue("padding-top", 50, 30);
      @include adaptiveValue("padding-bottom", 50, 30);
      background: #0c2234;
   }
   &._watcher-view {
      .footer__to-top {
         position: absolute;
         right: -100px;
         top: 0;
         transform: translate(100%, -100%);

         @media (max-width: em(1500)) {
            right: 0;
         }
         @media (max-width: em(1300)) {
            transform: translate(0%, -100%);
         }
      }
   }
   // .footer__container
   &__container {
   }
   // .footer__top-wrap
   &__top-wrap {
      display: flex;
      gap: rem(40);
      position: relative;
      @media (max-width: $mobile) {
         flex-direction: column;
         gap: rem(20);
      }
      @media (max-width: $mobileSmall) {
         gap: rem(15);
      }
   }
   &__to-top {
      display: block;
      height: rem(80);
      width: rem(80);
      @media (max-width: $mobile) {
         width: rem(50);
         height: rem(50);
      }
      &.scroll {
         position: fixed;
         bottom: 50px;
         right: 50px;
         z-index: 5;
         top: unset;
         transform: none;
         @media (max-width: $mobile) {
            right: rem(20);
            bottom: rem(20);
         }
      }
      img {
         animation: pulsate 1.2s infinite;
         border-radius: 50%;
      }
   }
   // .footer__logo
   &__logo {
      flex: 0 0 rem(168);
      display: block;
      @media (max-width: $mobile) {
         flex: 1 1 auto;
      }
      @media (max-width: $mobileSmall) {
         max-width: rem(120);
      }
   }
   // .footer__content
   &__content {
   }
   // .footer__text
   &__text {
      line-height: math.div(22, 16);
      &:not(:last-child) {
         margin-bottom: rem(18);
      }
      @media (max-width: $mobileSmall) {
         font-size: rem(14);
      }
   }
   // .footer__link
   &__link {
      display: inline-block;
      line-height: math.div(22, 16);
      text-decoration: underline !important;
      color: #FCD535;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
      @media (any-hover: hover) {
         &:hover {
            color: #fff;
         }
      }
   }
   // .footer__bottom
   &__bottom {
   }
   // .footer__copy
   &__copy {
      padding: rem(16) 0;
      text-align: center;
      line-height: math.div(22, 16);
   }
}

//====================================================================================================
